black==19.10b0
coverage==5.2.1
python-magic==0.4.18
boto3==1.22.6
psycopg2==2.8.6
botocore==1.25.6
opensearch-py==2.3.2
requests==2.25.0
scikit-learn==1.0.2 
sentence-transformers==2.2.0
huggingface-hub==0.10.1  # fix: https://github.com/UKPLab/sentence-transformers/issues/1762
python-slugify[unidecode]==8.0.1
numpy==1.26.4  # fix numpy dtype size changed error with numpy>=2.0.0
