python-magic==0.4.27
boto3==1.42.88
psycopg2-binary==2.9.11  # Use binary version for better ARM64 support
botocore==1.42.88
opensearch-py==3.1.0
requests==2.33.1
scikit-learn==1.8.0
sentence-transformers==5.4.0
huggingface-hub==1.10.1
python-slugify[unidecode]==8.0.4
numpy==2.4.4
